@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.instruction {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;

    height: 770px;
    // outline: 1px solid salmon;

    @include tablet {
        height: 100%;
    }

    &__title {
        padding: 1rem 1rem;
        color: $color-selected;
        font-size: 27px;
        
        @include tablet {
            font-size: $font-large;
        }
    }

    &__ctr {
        background-color: $grey-light;
        height: 100%;
        border-radius: $border-radius-standard;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        opacity: 0;
        transition: opacity 1s ease-in-out;

        // &--fade-in {

        // }

        &--fade-in {
            opacity: 1;
        }
    }

    &__subctr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // outline: 1px solid pink;
        height: 70%;
        width: 100%;
    }

    &__step {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 27px;
        padding: 2rem 0rem;
    }
    
    &__section {
        color: $color-selected;
        font-size: 25px;
        padding: 1rem 3rem;
        // outline: 1px solid red;
        height: 20%;
    }

    &__text-ctr {
        display: flex;
        justify-content: center;
        align-items: center;
        // outline: 1px solid greenyellow;
        height: 60%;
        flex-direction: column;
        width: 85%;
    }

    &__text {
        font-size: 16px;
        text-align: center;
    }

    &__dot-ctr {
        display: flex;
        // height: 10px;
        height: 10%;
        gap: 5px;
    }

    &__dot {
        height: 10px;
        aspect-ratio: 1 / 1;
        background-color: white;
        border-radius: 50%;
        color: rgb(255, 255, 255, 0);
        opacity: 50%;

        &--selected {
            opacity: 100%;
        }
    }

    &__btn-ctr {
        display: flex;
        // outline: 1px solid yellow;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        height: 20%;
        gap: 5px;
    }

    &__skip {
        width: 35%;
        text-align: center;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            border: 2px solid white;
        }
    }

    &__next {
        width: 65%;
        background-color: $color-selected;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        height: 40px;
        cursor: pointer;

        &:hover {
            border: 2px solid white;
        }
    }

}