@use "../../styles/partials/variables" as *;

.sales__heading {
    display: flex;
}

.items__title {
    font-size: $font-large;
    padding: 1rem 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.show-item {
    opacity: 1;
    transform: translateX(0);
}

.sales-item {

    &__item-1{
        width: 20%;
    }
    &__item-2{
        width: 35%;
    }
    &__item-3{
        width: 10%;
    }
    &__item-4{
        width: 10%;
    }
    &__item-5{
        width: 10%;
    }
    &__item-6{
        width: 10%;
    }

}