@use "../../styles/partials/variables" as *;

.cart {
      padding: 20px 30px 0;
      background-color: $grey-light;
      border-radius: $border-radius-standard;

    &__title {
        color: $white;
        padding-bottom: 20px;
        background-color: $grey-light;
    }

    &__list {
        // outline: 1px solid greenyellow;
        background-color: $grey-light;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        background-color: $grey-light;

        //transition
        transition: all 0.2s ease;
        opacity: 0;
        transform: translateX(20px);

    }

    &__img-name-qt {
        display: flex;
        background-color: $grey-light;
    }

    &__img {
        width: 50px;
        height: 50px;
        border-radius: $border-radius-lower;
    }

    &__name-quantity {
        margin-left: 10px;
        background-color: $grey-light;
    }

    &__name {
        color: $white;
        background-color: $grey-light;
    }

    &__quantity {
        color: $white;
        background-color: $grey-light;
    }

    &__price {
        background-color: $grey-light;
    }
}

.show-cart {
    opacity: 1;
    transform: translateX(0);
}