$grey-light:#8e8e8e;
$grey-dark: #7e7e7e;
$white: white;
$color-selected: #EDB055;

//Font
$font-standard: 24px;
$font-large: 27px;

//Border Radius
$border-radius-standard: 20px;
$border-radius-lower: 10px;

