@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory {
    margin: 0 2rem;
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: $font-large;
        padding: 1rem 1rem;
        color: $color-selected;
    }

    &__headers {
        display: none;
        justify-content: center;

        @include tablet {
            display: flex;
        }
    }

    &__common-item {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 10px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    &__header-item {
        padding: 20px 5px;
    }

    &__column-0 {
        
        @include tablet {
            width: 10%;
        }
    }

    &__column-1 {
        
        @include tablet {
            width: 18%;
        }
    }

    &__column-2 {

        @include tablet {
            width: 39%;
        }
    }

    &__column-3-4 {
        
        @include tablet {
            width: 16%;
        }
    }

    &__image {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 10px;

        @include tablet {
            margin-top: 0px;
        }
    }


    &__data-item {
        word-break: break-all;
        align-items: center;
        padding: 5px 5px;
        overflow: hidden;
        color: white;
        
        @include tablet {
            height: 55px;
        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll; 
        overflow-x: hidden;
        height: none;

        &::-webkit-scrollbar {
            display: none;
          }
    }

    &__item-ctr {

        display: flex;
        flex-direction: column;
        border-radius: $border-radius-standard;
        background-color: $grey-light;
        margin-bottom: 10px;
        border: 2px solid $grey-light;
        transition: 0.5s;
        // cursor: pointer;
        //Transition
        opacity: 0;
        transform: translateX(20px);

        @include tablet {
            flex-direction: row;
        }

        &:hover {
            border: 2px solid $color-selected;
            color: $color-selected;

        }
    }


    &__mob-header {
        color: $color-selected;
        padding: 5px 5px;
  
        @include tablet {
            display: none;
        }
    }
}

.show-item {
    opacity: 1;
    transform: translateX(0);
}
