.product {
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__ctr {
        display: flex;
        justify-content: center;
    }
 

    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}


