@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.product {
    // width: 50%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;

    &__topbar {
        // display: flex;
        // justify-content: space-between;
        // margin: 0 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @include tablet {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            // margin: 0 3rem;
            padding: 0 2.5rem;
        }

    }

    &__search {
        height: 40px;
        width: 93%;
        padding: 0 1rem;
        background-color: $grey-light;
        border-radius: $border-radius-standard;
        border: none;
        outline: none;
        color: $white;
        margin-top: 20px;

        @include tablet {
            width: 250px;
            margin-top: 0px;
        }
    }
    
    &__ctr {
        display: flex;
        justify-content: center;
    }

    &__add {
        text-decoration: none;
        color: $white;
        width: 93%;
        border: 2px solid $white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-standard;
        transition: 0.5s;
        margin-top: 10px;

        &:hover {
            border: 2px solid $color-selected;
            color: $color-selected;
        }

        @include tablet {
            width: 150px;
            margin-top: 0px;
        }
    }
 

    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.inventory {
    &__item {
        // outline: 2px solid greenyellow;
        padding: 1rem;

        // width: 45%;
        width: 100%;
        // aspect-ratio: 1 / 1;
        // margin: 10px 10px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        //transition
        transition: all 1s ease;
        opacity: 0;
        transform: translateY(20px);
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.test{
    width: 100px;
}

::placeholder {
    color: white; 
}


@media screen and (max-width: 768px) {
    .sc-bZQynM  {
      width: 280px;
    }
  }