
.inventory-item {
    outline: 2px solid greenyellow;
    padding: 1rem;
    cursor: pointer;
    // width: 45%;
    width: 22%;
    aspect-ratio: 1 / 1.1;
    margin: 10px 10px 0 10px;

    //transition

        transition: all 1s ease;
        opacity: 0;
        transform: translateY(20px);



  

    &__img {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
    }

    &__btn {
        width: 50px;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}