
.inventory-item {
    outline: 2px solid greenyellow;
    padding: 1rem;
    cursor: pointer;
    // width: 45%;
    width: 30%;
    aspect-ratio: 1 / 1.1;
    margin: 10px 10px 0 10px;

    &__btn {
        width: 50px;
    }
}