@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sales {
    width: 100%;
    margin: 0 2rem;

    &__title {
        padding: 1rem 1rem;
        color: $color-selected;
        
        @include tablet {
            font-size: $font-large;
        }
    }

    &__headers {
        display: none;
        justify-content: center;
        
        @include tablet {
            display: flex;
        }
    }

    &__common-item {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    &__header-item {
        padding: 20px 5px;
    }

    &__data-item {
        word-break: break-all;
        align-items: center;
        padding: 5px 5px;
        overflow: hidden;


        @include tablet {
            height: 55px;
        }
    }

    &__item-1 {
        
        @include tablet {
            width: 25%;
        }
    }
    &__item-2 {

        @include tablet {
            width: 15%;
        }
    }
    &__item-3 {
        @include tablet {
            width: 30%;
        }
    
    }
    &__item-4 {
        @include tablet {
            width: 15%;
        }
    }
    &__item-5 {
        @include tablet {
            width: 15%;
        }
    }


    &__list {
        height: 615px;
        overflow: auto;
    

        &::-webkit-scrollbar {
            display: none;
          }
    }

    &__item-ctr {
        border-radius: $border-radius-standard;
        background-color: $grey-light;
        margin-bottom: 10px;
        border: 2px solid $grey-light;
        transition: 0.5s;
        cursor: pointer;
        //Transition
        opacity: 0;
        transform: translateX(20px);

        @include tablet {
            display: flex;
        }

        &:hover {
            border: 2px solid $color-selected;
            color: $color-selected;

        }
    }

    &__mob-header {
        color: $color-selected;
        padding: 5px 5px;
    }
}

.show-item {
    opacity: 1;
    transform: translateX(0);
}