@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav {
    // outline: 1px solid blue;
    background-color: black;
    // width: 100%;
    width: 100%;
    // margin-left: 20px;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 400px;
    }


    &__ctr {
      
        background-color: $grey-light;
        padding: 10px 0;
        border-radius: $border-radius-standard;
        margin: 24px 16px 0;
        
        @include tablet {
            height: 100vh;
            margin: 0;
        }
    }

    &__logo-ctr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
        position: relative;
        // outline: 1px solid yellow;
        padding-top: 100px;
    }

    &__logo {
        color: $white;
        background-color: $grey-light;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: $font-large;
    }

    &__lottie {
        // outline: 1px solid yellow;
        width: 70px;
        background-position: left 100px;
        position: absolute;
        right: 50%;
        // left: 50%;
        top: 0px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        background-color: $grey-light;
        gap: 10px;
        border-radius: $border-radius-standard;

        @include tablet {
            margin-top: 90px;
        }
    }



    &__item {
        outline: 1px rgb(255, 0, 0);
        background-color: $grey-light;
        text-decoration: none;
        color: $white;
        font-size: $font-standard;
        // outline: 1px solid salmon;
        margin: 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        border-radius: $border-radius-standard;
        // transition: 0.5s;
        
        &:hover {
            border: 2px solid $color-selected;
            color: $color-selected;

        }

        &--active {
            background-color: $color-selected;
            border: 2px solid $color-selected;

            &:hover {
                background-color: $color-selected;
                color: white;
            }
        }
    }

}