@use './styles/partials/fonts' as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $white;
}

html {
    background-color: black;
}

.checkout {
    // margin: 2rem;
    // width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet {
        width: 300px;
    }


    &__ctr {
        background-color: $grey-light;
    }

    &__btn {

    }
}

.background {
    background-color: black
}

.header {
    background-color: black;
    width: 100vw;
    outline: 1px solid fuchsia;
}

.main {
    // margin: 2rem;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: row;
    // height: 100vh;
    // align-items: space-between;
    // padding: 2rem 2rem;
    // background-color: black;
    // margin: auto;
    // width: 1280px;
    
    @include tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100vh;
        align-items: space-between;
        padding: 2rem 2rem;
        background-color: black;
        margin: auto;
        width: 1280px;
    }
}

.center {
    display: flex;
    justify-content: center;
    outline: 1px solid rgb(2, 2, 2);
    width: 100%;
    // flex-direction: column;
    margin-bottom: 30px;

    @include tablet {
        flex-direction: row;
        margin-bottom: 0px;
    }
}

.paysum {
    // outline: 1px solid orange;
    background-color: $grey-light;
    border-radius: $border-radius-standard;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding: 0 20px;
    margin: 0 2rem;
    margin-bottom: 24px;

    @include tablet {
        margin: 0;
        width: 500px;
    }
}